/* heading font style*/

h1 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold !important;
    display: flex;
    align-items: center;
    color: #0071BD !important;
}

h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: blod;
    display: flex;
    color: #9590A0 !important;
}


/*body style to keep footer on the bottom*/

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


/* paragraph style*/

p {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
}


/*stylesheet for navigation brand*/

.navbar {
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1)
}

.tcdLogo {
    width: 20%;
}

.w-20 {
    width: 20%;
}


/*customised margin value */

.ml-8 {
    margin-left: 4.76%;
}

.ml-center {
    left: 50%;
}

.mt-customize {
    margin-top: 4% !important;
}


/*stylesheet for navigation font color */

.nav-link {
    color: #0071BD !important;
}


/*stylesheet for logos including facebook, google etc and buttons for media follow*/

.logo {
    margin-left: 10%;
    width: 20%;
}

.followButton {
    margin-left: 10%;
    width: 20%;
}


/*stylesheet for skip nav*/

.tcd-skip {
    position: absolute;
    margin-left: 45%;
    margin-right: auto;
    font-weight: bold;
    background-color: white;
    color: #0071BD;
    z-index: 1;
    top: -10%;
}

.tcd-skip:focus {
    top: 0;
}


/*stylesheet for rounded button and rectangles */

.rounded-pill {
    border: 2px solid #0071BD !important;
    border-radius: 20px !important;
}

.rounded-button {
    border-radius: 20px !important;
}

.hide[aria-expanded="true"] {
    display: none;
}


/* style for menu on coffee*/

.menu {
    background-color: #0071BD;
    border-radius: 25px;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    text-align: center;
}


/*style sheet for all of buttons */

.bgColor {
    color: white !important;
    background-color: #0071BD !important;
}


/*style sheet for video and image */

.medialink {
    text-align: center;
}

.mainImage {
    width: 50% !important;
}


/*stylesheet for contact page */

.contact {
    display: flex;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

.contact_left {
    width: 530px;
    height: 656.51px;
    margin-left: 70px;
    border-radius: 20px;
    background: #0071bd;
}

.contact_right {
    width: 937.71px;
    height: 499.5px;
    margin-left: 100px;
    background: url("../contact.jpg") no-repeat;
    background-size: auto 75%;
}

.contact_left>p {
    display: block;
    width: 100%;
    margin-top: 30px;
    font-size: 64px;
    font-weight: 400;
    font-style: normal;
    line-height: 80px;
    text-align: center;
    text-align: center;
    color: #fff;
}

.contact_name,
.contact_message {
    position: relative;
    margin-top: 100px;
    padding: 0 40px;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0;
    color: #fff;
}

.contact_message {
    margin-top: 50px;
}

.contact_name>p {
    margin: 0;
}

.input_name,
.area_message {
    width: 100%;
    padding-right: 20px;
    border: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    background: none;
    resize: none;
}

.area_message {
    overflow: hidden;
    height: 130px;
    line-height: 70px;
}

.area_message_line {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    width: calc(100% - 80px);
    height: 3px;
    margin: 0 auto;
    background: #fff;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

.contact_button {
    width: 117px;
    height: 30px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0;
    color: #0071bd;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .3);
}


/*profile style*/

.profile {
    background: #0071BD;
    border-radius: 20px;
    color: white;
}

h1.profileTitle {
    margin: 0 auto;
    color: white !important;
    text-align: center !important;
}

.profile ul {
    list-style-type: none;
    font-size: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
}


/*file select button style*/

.fileSelect {
    font-size: 90%;
    background: white;
    color: #0071BD;
    position: absolute;
    width: 100px;
    left: 6%;
}


/*table style*/

h1.profileTitle2 {
    margin: 0 auto;
    text-align: center !important;
}


/*footer style*/

.footerText {
    color: white;
}

.addressText {
    margin-left: 8%;
}

.footerLogoSet {
    margin-top: 5%;
    width: 6%;
}

.footerLogo {
    margin-left: 5%;
}

.tcd-logo-foot {
    margin-top: 5%;
    margin-left: 5%;
    width: 250px;
    height: auto;
}

.ml-6 {
    margin-left: 5%;
}


/*mobile version */

@media screen and (max-width: 600px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .contact_left {
        width: 450px;
        height: 656.51px;
        margin-right: 70px;
        border-radius: 20px;
        background: #0071bd;
    }
    .contact_right {
        width: auto;
        height: auto;
        background: url("../contact.jpg") no-repeat;
    }
    .footerText,
    .addressText {
        margin: 0 auto;
    }
}

#form_label {
    cursor: pointer;
    width: 117px;
    height: 30px;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0;
    color: #0071bd;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .3);
}

.col{
    width: 450px;
    height: 500.51px;
    margin-right: 70px;
    border-radius: 20px;
    background: #0071bd;
    color: #ffff !important;
}

.modal-title{
    display: inline;
    text-align: center !important;
    color: #ffff !important;
}

.gymvid{
    border: 0px;
}