

/*body style to keep footer on the bottom*/

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


/* paragraph style*/

/*stylesheet for navigation brand*/

.navbar {
    font-family: "Open Sans", sans-serif;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .1)
}

.tcdLogo {
    width: 10%;
}

.w-20 {
    width: 20%;
}


/*customised margin value */

.ml-8 {
    margin-left: 4.76%;
}

.ml-center {
    left: 50%;
}

.mt-customize {
    margin-top: 4% !important;
}


/*stylesheet for navigation font color */

.nav-link {
    color: #0071BD !important;
}


/*stylesheet for logos including facebook, google etc and buttons for media follow*/

.logo {
    margin-left: 10%;
    width: 20%;
}

.followButton {
    margin-left: 10%;
    width: 20%;
}


/*stylesheet for skip nav*/

.tcd-skip {
    position: absolute;
    margin-left: 45%;
    margin-right: auto;
    font-weight: bold;
    background-color: white;
    color: #0071BD;
    z-index: 1;
    top: -10%;
}

.tcd-skip:focus {
    top: 0;
}


/*stylesheet for rounded button and rectangles */

.rounded-pill {
    border: 2px solid #0071BD !important;
    border-radius: 20px !important;
}

.rounded-button {
    border-radius: 20px !important;
}

.hide[aria-expanded="true"] {
    display: none;
}


/*style sheet for all of buttons */

.bgColor {
    color: white !important;
    background-color: #0071BD !important;
}



/*profile style*/

.profile {
    background: #0071BD;
    border-radius: 20px;
    color: white;
}

h1.profileTitle {
    margin: 0 auto;
    color: white !important;
    text-align: center !important;
}

.profile ul {
    list-style-type: none;
    font-size: 20px;
}



/*file select button style*/

.fileSelect {
    font-size: 90%;
    background: white;
    color: #0071BD;
    position: absolute;
    width: 100px;
    left: 6%;
}

/*image upload style*/
.image-upload >input{
    display:none;
  }

.labelForUpload{
    margin-bottom: 20%;
}

.uploadButton{
    margin-left:20;
    color:white;
    background:#0071BD;
}

.hide{
    display:none;
}
/*table style*/

h1.profileTitle2 {
    margin: 0 auto;
    text-align: center !important;
}



/*login/signup form*/


#form_label {
    cursor: pointer;
    width: 117px;
    height: 30px;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0;
    color: #0071bd;
    border-radius: 4px;
    background: #fff;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .3);
}

.col{
    width: 450px;
    height: 500.51px;
    margin-right: 70px;
    border-radius: 20px;
    background: #0071bd;
    color: #ffff !important;
}

.modal-title{
    display: inline;
    text-align: center !important;
    color: #ffff !important;
}

.gymvid{
    border: 0px;
}