<!-- FOOTER START -->
<script src="JavaScript/script.js"></script>
<br>
<footer class="footer" style="background-color:#0071BD">
    <!-- Footer Links -->
    <div class="container-fluid text-center">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mt-md-0 mt-3">
                <!-- Content -->
                <img class="tcd-logo-foot" src="Trinity_White_main.svg" alt="TCD logo on footer">
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-6 mb-md-0 mb-3 col-md-4">
                <!-- Links -->
                <br>
                <div class="col-md-12 text-center text-md-left p-2 ">
                    <h5 class="footerText">Connect with Us!</h5>
                </div>
                <div class="col-md-12 text-center text-md-left  ">
                    <a href="https://www.instagram.com/trinitycollegedublin/?hl=en" target="_blank">
                        <img src="/instagram.svg" alt="Instagram" class="footerLogoSet">
                    </a>
                    <a href="https://www.linkedin.com/school/trinity-college-dublin/?originalSubdomain=ie" target="_blank">
                        <img src="/linkedin.svg" alt="LinkedIn" class="footerLogoSet footerLogo">
                    </a>
                    <a href="https://www.facebook.com/trinitycollegedublin/" target="_blank">
                        <img src="/facebook.svg" alt="Facebook" class="footerLogoSet footerLogo">
                    </a>
                    <a href="https://twitter.com/tcddublin" target="_blank">
                        <img src="/twitter.svg" alt="Twitter" class="footerLogoSet footerLogo">
                    </a>
                </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <br>

                <ul class="list-unstyled">
                    <li>
                        <a class="footerText" href="/">Home</a>
                    </li>
                    <li>
                        <a class="footerText" href="/coffee">Coffee</a>
                    </li>
                    <li>
                        <a class="footerText" href="/gym">Gym</a>
                    </li>
                    <li>
                        <a class="footerText" href="/events">Events</a>
                    </li>
                    <li>
                        <a class="footerText" href="/contact">Contact</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <address class="footerText addressText">
                <strong>Trinity Innovation Hub</strong>
                 <br>
                 7 Hanover Quay,
                 <br>
                 Grand Canal Dock,
                 <br>
                 Dublin
            </address>
            </div>
            <br>
            <div class="col-md-4 col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.9458352068996!2d-6.236316983978539!3d53.3442257825709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670eed1bfc13c3%3A0xe2f2cbcf4e501a9c!2s7%20Hanover%20Quay%2C%20Dublin%20Docklands%2C%20Dublin!5e0!3m2!1sen!2sie!4v1617828424609!5m2!1sen!2sie"
                    width="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 footerText">© 2021 Copyright:
        <a class="footerText" href="https://mdbootstrap.com/"> IDM group 4</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- FOOTER END-->