<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/stylesheet.css" rel="stylesheet">
    <script src="JavaScript/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Trinity Innovation Hub</title>
</head>

<body class="flex-wrapper">
    <!-- NAVIGATION BAR START -->
    <%- include("nav", {active: "Home"}) %>
        <!-- NAVIGATION BAR END-->
        <!-- IMAGE CAROUSEL START-->
    <!-- IMAGE CAROUSEL END-->
    <!-- OPENING PARAGRAPH-->
    <div class="container">
        <div class="d-flex justify-content-center mb-3">
            <div class="p-2 align-self-center">
                <h1>What is Trinity Innovation Hub</h1>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <p class="text-justify">The Innovation Hub provides a space for entrepreneurs, start-ups and innovation teams from large corporations. It will be the venue for organized regular events to bring together academics, start-ups, the local community and the enterprise
                community, animating and programming the Grand Canal Innovation District.
            </p>
        </div>
    </div>
    <!--LIST OF EVENT START-->
</body>

</html>