<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="css/stylesheet.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <script src="JavaScript/script.js" defer ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"crossorigin="anonymous"></script>
        <script src="http://stevenlevithan.com/assets/misc/date.format.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"crossorigin="anonymous"></script>
        <title>Upload your image</title>
    </head>

    <body >
        <!-- NAVIGATION BAR START -->
        <%- include("nav") %>
        <!-- NAVIGATION BAR END-->
        <!-- UPLOAD START --> 
        <div class="container">  
            <h1 class="justify-content-center profileTitle mr-3"> Upload </h1><br>
            <div class="row justify-content-center mr-3">
                <div id="messages">
                    <%if(messages.successUpload){%>
                        <div class="alert alert-success">
                            <%=messages.successUpload%>
                        </div>
                    <%}else if(messages.faildUpload){%>
                        <div class="alert alert-danger">
                            <%=messages.faildUpload%>
                        </div>
                    <%}%>
                </div>
                <div class="row"id="errorMessage">

                </div>
            </div>
            <div class="row justify-content-center mr-3">
                <form id="uploads" enctype="multipart/form-data">     
                    <div class="image-upload">
                        <br><label class="uploadButton" for="upload">
                            upload your image
                        </label>
                        <input id="upload" type="file" name="uploadImage" accept="image/png,image/jpeg" multiple onchange="imageUpload(event);">
                        <div id="preview">  <!-- PREVIEW IMAGE -->

                        </div>
                    </div>
                    <input type="button" value="upload" onclick="send()">
                </form>
            </div>
            <%if(messages.errorNoFile){%>
            <div class="alert alert-danger">
                <%=messages.errorNoFile%>
            </div>
            <% } %>
            </div>
        <!-- UPLOAD END -->
    </body>

</html>